<?xml version="1.0" encoding="utf-8"?>
<AdhesiveConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <ApplicationName>AicTest5173</ApplicationName>
    <ClearLocalLogWhenStart>false</ClearLocalLogWhenStart>
    <LocalLoggingServiceLevel>Info</LocalLoggingServiceLevel>
    <!--<WcfConfigServiceAddress>192.168.206.36:18888/WcfConfigService</WcfConfigServiceAddress>
    <ConfigServiceAddress>192.168.206.33:18989/ConfigService</ConfigServiceAddress>
    <MongodbServiceAddress>192.168.206.126:17777/MongodbService</MongodbServiceAddress>-->
    <WcfConfigServiceAddress>localhost:18888/WcfConfigService</WcfConfigServiceAddress>
  <ConfigServiceAddress>localhost:18989/ConfigService</ConfigServiceAddress>
  <MongodbServiceAddress>localhost:17777/MongodbService</MongodbServiceAddress>
    <StateServiceDefaultReportStateIntervalMilliSeconds>10000</StateServiceDefaultReportStateIntervalMilliSeconds>
</AdhesiveConfig>