<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NonSecurity">
                    <security mode="None"></security>
                </binding>
            </netTcpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="ServiceBehavior">
                    <serviceMetadata httpGetEnabled="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Adhesive.Mongodb.Server.Imp.MongodbServer" behaviorConfiguration="ServiceBehavior">
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:17777/MongodbService" />
                    </baseAddresses>
                </host>
                <endpoint address="" binding="netTcpBinding"
                    contract="Adhesive.Mongodb.Server.IMongodbServer"  bindingConfiguration="NonSecurity"/>
            </service>
        </services>
    </system.serviceModel>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
