<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NonSecurity" maxReceivedMessageSize="655360000" sendTimeout="00:10:00">
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Adhesive.Config.Server.ConfigServer" behaviorConfiguration="ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:18989/ConfigService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding"
            contract="Adhesive.Config.IConfigServer"  bindingConfiguration="NonSecurity"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>