<?xml version="1.0"?>
<configuration>
 
  <appSettings>
    <add key="AppName" value="Trading"/>
    <add key="wcfconfigservice_address" value="localhost:18888/WcfConfigService"/>
    <add key="configservice_address" value="localhost:18989/ConfigService"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
