<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <httpModules>
          <add name="AppInfoCenterHttpModule" type="Adhesive.AppInfoCenter.Imp.AppInfoCenterHttpModule, Adhesive.AppInfoCenter.Imp"/>
      </httpModules>
        <compilation debug="true" targetFramework="4.0" />
        <httpRuntime requestValidationMode="2.0" />
    </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>  
      <add name="AppInfoCenterHttpModule" type="Adhesive.AppInfoCenter.Imp.AppInfoCenterHttpModule, Adhesive.AppInfoCenter.Imp"/>
    </modules>
  </system.webServer>
</configuration>
