<?xml version="1.0" encoding="utf-8"?>
<AdhesiveConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ApplicationName>AdhesiveConfigConsoleHost</ApplicationName>
  <LocalLoggingServiceLevel>Info</LocalLoggingServiceLevel>
  <WcfConfigServiceAddress>localhost:18888/WcfConfigService</WcfConfigServiceAddress>
  <ConfigServiceAddress>localhost:18989/ConfigService</ConfigServiceAddress>
  <MongodbServiceAddress>localhost:17777/MongodbService</MongodbServiceAddress>
  <StateServiceDefaultReportStateIntervalMilliSeconds>60000</StateServiceDefaultReportStateIntervalMilliSeconds>
</AdhesiveConfig>