<?xml version="1.0" encoding="utf-8"?>
<StorageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <StorageContexts>
    <StorageContext Name="DefaultContext">
      <ProviderName>System.Data.SqlClient</ProviderName>
      <ConnectionString>Server=192.168.135.188;Database=Adhesive;User ID=sa;Password=DLdNa9R+IFkkHxvWszyLHw==;Trusted_Connection=False;Persist Security Info=True</ConnectionString>
    </StorageContext>
  </StorageContexts>
</StorageConfig>