<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="customBinding0" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <binaryMessageEncoding/>
          <httpTransport  maxReceivedMessageSize="2147483647"  maxBufferSize="2147483647" />

        </binding>
      </customBinding>
    </bindings>
    <services>
      <service name="Adhesive.Mongodb.Silverlight.Web.DataService">
        <endpoint address="" binding="customBinding" bindingConfiguration="customBinding0"
            contract="Adhesive.Mongodb.Silverlight.Web.DataService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"
        multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
