<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NonSecurity">
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Adhesive.DistributedService.Config.WcfConfigService" behaviorConfiguration="ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:18888/WcfConfigService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding"
            contract="Adhesive.DistributedService.Imp.IWcfConfigService"  bindingConfiguration="NonSecurity"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>