<?xml version="1.0" encoding="utf-8"?>
<AdhesiveConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ApplicationName>AdhesivePersistenceTest</ApplicationName>
  <LocalLoggingServiceLevel>Debug</LocalLoggingServiceLevel>
  <WcfConfigServiceAddress>192.168.129.143:18888/WcfConfigService</WcfConfigServiceAddress>
  <ConfigServiceAddress>192.168.129.143:18989/ConfigService</ConfigServiceAddress>
  <StateServiceDefaultReportStateIntervalMilliSeconds>60000</StateServiceDefaultReportStateIntervalMilliSeconds>
</AdhesiveConfig>