<?xml version="1.0" encoding="utf-8" ?>
  <storageContexts>
    <storageContext name="CurrentContext">
      <providerName>System.Data.SqlClient</providerName>
      <connectionString>Server=.;Database=Adhesive;User ID=sa;Password=DLdNa9R+IFkkHxvWszyLHw==;Trusted_Connection=False;Persist Security Info=True </connectionString>
    </storageContext>
  </storageContexts>
