<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="configservice_address" value="localhost:18888/WcfConfigService" />
    <add key="AppName" value="Adhesive.Mongodb.Client.UI.Web"/>
    
  </appSettings>
  <connectionStrings>
    <add
      name="ConfigDbContext"
      providerName="System.Data.SqlClient"
      connectionString="Server=192.168.134.17;Database=Adhesive;User ID=sa;Password=//5173@#;Trusted_Connection=False;Persist Security Info=True "/>
  </connectionStrings>
  
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
