<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AppName" value="Adhesive.Test"/>

    <add key="wcfconfigservice_address" value="localhost:18888/WcfConfigService" />
    <add key="configservice_address" value="localhost:18989/ConfigService" />
  </appSettings>
  <connectionStrings>
    <add
      name="ConfigDbContext"
      providerName="System.Data.SqlClient"
      connectionString="Server=.;Database=Adhesive;User ID=sa;Password=//5173@#;Trusted_Connection=False;Persist Security Info=True "/>
  </connectionStrings>
  <system.data>
        <DbProviderFactories>
            <remove invariant="MySql.Data.MySqlClient" />
            <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient"
 description=".Net Framework Data Provider for MySQL" 
 type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.4.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
        </DbProviderFactories>
    </system.data>
</configuration>
